<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.order.mapper.OrderMapper">
  <resultMap id="OrderResultMap" type="com.cloud.entity.Order">
    <id column="tid" jdbcType="INTEGER" property="tid" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="order_name" jdbcType="VARCHAR" property="orderName" />
  </resultMap>
  <sql id="Base_Column_List">
    tid, order_id, user_name, order_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="OrderResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_order
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_order
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="tid" keyProperty="tid" parameterType="com.cloud.entity.Order" useGeneratedKeys="true">
    insert into tb_order (order_id, user_name, order_name
      )
    values (#{orderId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{orderName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="tid" keyProperty="tid" parameterType="com.cloud.entity.Order" useGeneratedKeys="true">
    insert into tb_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="orderName != null">
        order_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="orderName != null">
        #{orderName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cloud.entity.Order">
    update tb_order
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="orderName != null">
        order_name = #{orderName,jdbcType=VARCHAR},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cloud.entity.Order">
    update tb_order
    set order_id = #{orderId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      order_name = #{orderName,jdbcType=VARCHAR}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
</mapper>